* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 2rem;
  color: #333333;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  cursor: pointer;
}
.top__language {
  width: 40vw;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid lightgrey;
  color: #333333;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
}
.top__swap {
  font-size: 2rem;
  width: 5vw;
  padding: 1rem;
  text-align: center;
  color: #333333;
}

.translate {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.translate__input {
  padding: 1rem;
  width: 40vw;
  min-height: 40vh;
  font-size: 1.5rem;
  resize: none;
  outline: none;
  border: none;
  border-radius: 1rem;
  color: #333333;
}
.translate__output {
  padding: 1rem;
  width: 40vw;
  min-height: 40vh;
  font-size: 1.5rem;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 1rem;
  color: #333333;
  background-color: rgb(234, 234, 234);
}
.translate__middle {
  width: 5vw;
  padding: 1rem;
}

footer {
  margin-top: 2rem;
  text-align: center;
  color: #333333;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bottom__buttons {
  padding: 1rem;
  flex-direction: row;
  justify-content: center;
  width: 40vw;
}
.bottom__middle {
  width: 5vw;
  padding: 1rem;
}

.button {
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(234, 234, 234);
  border: 1px solid lightgrey;
  color: #333333;
}
.button b {
  margin-left: 0.5rem;
}
.button i {
  margin-left: 0.5rem;
}
.button:hover {
  cursor: pointer;
  background-color: lightgrey;
}
.button:disabled {
  background-color: lightgrey;
  cursor: not-allowed;
}
.button:active {
  background-color: rgb(124, 124, 124);
}
